/* # ID 
   . Clase 
*/

*{
    cursor: all-scroll;
}

body{
    background-image: url(img/thumb-1920-903637.jpg);
}

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap');
p{
    color: cornflowerblue;
    
}

#background{
    background-color: darkslateblue;
    font-size: 56px;
    font-style: oblique;
    text-align: center;
}

.parrafo{
    color: cornsilk;
    background-color:cornflowerblue;
    font-family: 'Raleway', sans-serif;
    vertical-align: middle;
}

/*
text-align = right, center, left
vertical-align = top, middle, bottom
*/

/*
Padding - Espacio de relleno alrededor de un elemento
Margin - Establece el margen para los cuatro lados
Border

*/

#contenedor{
    background-color: rgb(29, 223, 161);
}

#item1 h2{
    color: rgb(0, 0, 0);
    background-color: yellow;
}

#item1{
    background-color:blueviolet;
    /*margin: 20px;
    padding: 15px;*/
    float: left;
    width: 300px;
    height: 300px;
}

#item2 h2{
    color: rgb(0, 0, 0);
}

#item2{
    width: 300px;
    height: 300px;
    float: right;
    background-color: brown;
    /*padding: 15px, 25px,35px;*/
}

a:hover{
    background-color: white;
}